@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {

    background-color: white;
    font-family: 'Rubik Vinyl', cursive;
    margin-left: 5%;

}

.heading {
    text-align: center;

}

.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:60%

}


h2 {
    font-family: 'Michroma', sans-serif;
    text-align: center;
    margin-left: 30%;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}

p {
    text-align: center;
    margin-left: 35%;
    font-size: 200%;
}

/*Game area*/

.game-area {
    width: 75%;
}

#button-area {
    flex-direction: row;
    padding-left: 35%;
    width: 75%;
  
} 

.buttons {
    flex-direction: row;
    width:75%;
    
}

/*footer styling*/

footer
{
    height:150px;
    width:100%;  

}

    